html, body {
  color: rgb(50, 50, 50);
  background: rgb(246, 248, 251);

  font-family: Open Sans, sans-serif;

  text-align: center; 
}

h1 {
  font-size: 30px;
}

header {
  margin-top: 3rem;
}

a {
  color: rgb(140, 140, 180);
  text-decoration: none;
}

a:hover {
  color: rgb(90, 90, 130);
}

.github {
  font-size: 0;
  color: inherit;
}

.github .fa {
  font-size: 32px;
}

.links {
  display: flex;

  justify-content: center;
}

.links a {
  margin: 0 0.5rem;
}

.small {
  font-size: 8px;
}

footer > * {
  margin-top: 2rem;
}

.btn {
  cursor: pointer;
  margin: 0 1rem;
}

.btn i {
  font-size: 25px;
}
