html, body {
  color: rgb(50, 50, 50);
  background: rgb(246, 248, 251);

  font-family: Open Sans, sans-serif;

  text-align: center; 
}

h1 {
  font-size: 30px;
}

header {
  margin-top: 3rem;
}

a {
  color: rgb(140, 140, 180);
  text-decoration: none;
}

a:hover {
  color: rgb(90, 90, 130);
}

.github {
  font-size: 0;
  color: inherit;
}

.github .fa {
  font-size: 32px;
}

.links {
  display: flex;

  justify-content: center;
}

.links a {
  margin: 0 0.5rem;
}

.small {
  font-size: 8px;
}

footer > * {
  margin-top: 2rem;
  font-size: 12px;
}

.btn {
  cursor: pointer;
  margin: 0 1rem;
}

.btn i {
  font-size: 25px;
}

.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 9999;

  font-size: 25px;
  font-weight: bold;

  overflow: hidden;

  background: rgba(255, 255, 255, 0.8);

  position: fixed;

  opacity: 0;
  pointer-events: none;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.controls p {
  margin: 2rem auto;
  width: 90%;
  max-width: 500px;
  font-size: 12px;
  line-height: 1.4em;
}
